@using WebApplication5.Models
@model SampleViewModel
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <h1>Sample#Index</h1>
        <h2>The value in the query string foo parameter was: @Model.Foo</h2>
        <h2>Snow @Model.Snow</h2>
    </div>
</body>
</html>