<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-3 col-offset-3">
                <form action="/sample/search">
                    <input type="text" name="searchtext" placeholder="Search Text" class="form-control" />
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

<!-- Create an application that has a form with one textbox and one input. When 
the user clicks on the button, the form should get submitted and the user should
be taken to a page that displays all search results based on the text typed
    into the textbox. -->